streamlit==1.35.0
pytesseract==0.3.10
Pillow==10.2.0
gTTS==2.5.1
langdetect==1.0.9
numpy==1.24.4
opencv-python==4.8.0.76
matplotlib==3.8.4

# PyTorch & TorchVision
torch==2.5.1
torchvision==0.17.1

# TensorFlow
tensorflow==2.15.0

# YOLO (Ultralytics)
ultralytics==8.1.38

# Optional for better server support
gunicorn==21.2.0
